/* انشاء خط يفصل رأس الصفحة عن جسم الصفحة */
header .s-navbar {
    border-bottom: 3px solid #EEF0EA;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* تنسيق حجم الشعار */
header .s-navbar .navbar-brand img {
    width: 50px;
    height: 50px;
}
/* تنسيق روابط التنقل */
header .s-navbar .navbar-nav li a.nav-link {
    color: #555555;
    font-size: 14px;
    padding: 15px;
}
/* تنسيق روابط التنقل */
header .s-navbar .navbar-nav li.active a.nav-link {
    color: #5935be;
    border-bottom: 1px solid #5935be;
    font-weight: 700;
}
/* تنسيق روابط التنقل */
header .s-navbar .navbar-nav li a.nav-link:hover {
    color: black;
}
/* تنسيق روابط التنقل */
header .s-navbar .navbar-nav li.active:hover a.nav-link {
    background-color: #e7e7e7;
}

header .page-header {
    background: conic-gradient(from 90deg at 28% 48%, rgba(159, 2, 226, 1), rgba(231, 217, 220, 1));
    height: 300px;
    width: 100%;
}

header .page-header h4 {
    position: relative;
    top: 10px;
    right: 50px;
}

header .page-header p {
    position: relative;
    top: 10px;
    right: 50px;
}

.carousel-row .col-12 {
    padding-right: 0px;
    padding-left: 0px;
}

#carousel-s {
    background-color: #F7F8F3;
    height: 400px;
    padding-top: 25px;
}

#carousel-s .carousel-inner .carousel-item img {
    position: relative;
    height: 375px;
    margin-right: 0px;
    margin-left: 0px;
    right: 350px;
}

#carousel-s .carousel-control-prev,
#carousel-s .carousel-control-next {
    color: #5935be;
    font-size: 20px;
    
}

 section.power h2 {
    margin-bottom: 50px;
    font-size: 45px;
    color: #555;
    text-align: center;
}

 section.power {
    padding: 100px 0;
    text-align: right;
}

section.power .media {
    border: 4px solid #fafafa;
    padding: 40px 10px;
    margin-bottom: 20px;
    position: relative;
    max-height: 190px;
}

section.power .media img {
    position: absolute;
    height: 50px;
    width: 50px;
    transform: translate(-80%, -80%);
    
}

section.power .media .media-body h5 {
    font-size: 24px;
    color: #555;
   padding-top: 20px;
}

section.power .media .media-body p {
    font-size: 15px;
    color: #666060;
    line-height: 25px;
    padding-top: 20px;
}




@media (max-width: 1199px) {

}

@media (max-width: 992px) {
    #carousel-s .carousel-inner .carousel-item img {
        transform: translate(50%, -50%);
        height: 400px;
       margin-top: 100px;
        padding-top: 100px;
    }
 
}

@media (max-width: 767px) {
    #carousel-s {
        padding-bottom: 25px;
    }

    #carousel-s .carousel-item img {
        height: 100px;
    }
}

@media (max-width: 575px) {
 
}